*{
  margin: 0px;
  padding:0px;
  text-align: center;
}
.closeSidebar {
  transition: 0.2s;
  top: -100px;
  cursor: pointer;
}
.openSlideBar {
  transform: translateX(0);
  background-color:purple;
  height:1.5rem;
  width: 210.5vh;
  top: 0px;
  margin: 5px auto;
  padding: 0px;
  transition: 0.2s;
  cursor: pointer;
}
.card{
  list-style: none;
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.cardList{
  height: 20rem;
  width: 10rem;
  margin: 1rem;
  padding: 1rem;
  background-color:cadetblue;
  text-align: center;
  line-height: 1.8rem;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
}
.card1{
  list-style: none;
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  text-align: center;
  align-items: center;
  cursor: pointer;
}
.cardList1{
  height: 20rem;
  width: 50rem;
  margin: 1rem;
  padding: 1rem;
  background-color:cadetblue;
  text-align: center;
  line-height: 1.8rem;
  overflow: hidden;
  cursor: pointer;
}
.cardList1 img{
  height: 10rem;
  width: 20rem;
  cursor: pointer;
}
.cardList:hover{
  height: 21rem;
  width: 10.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color:burlywood;
  text-align: center;
  line-height: 1.8rem;
  overflow: hidden;
  transition: 0.2s;
  cursor: pointer;
}
.cardList img{
  height: 10rem;
  width: 10rem;
  cursor: pointer;
}

.cardList button
{
  height: 2rem;
  width: 7rem;
  background-color:pink;
  font-weight: bold;
  border-radius: 5rem;
  border-left: 0.5rem solid green;
  cursor: pointer;
}
.cardList input{
  width:2.5rem;
  font-weight: bolder;
  cursor: pointer;
}
.cardList button:hover
{
  height: 2.1rem;
  width: 7.1rem;
  background-color:purple;
  font-weight:bolder;
  border-radius: 2rem;
  color: white;
  border-left: 0;
  border-right: 0.5rem solid green;
  transition: 0.2s;
  cursor: pointer;
}

table{
  border: 0.2rem solid gray;
  height: 10rem;
  width: 15rem;
  margin: 2rem auto;
}
th{
text-align: left;
}
td{
text-align: right;
}
.cardBuyNow
{
  background-color: blue;
  color: white;
  font-weight: bolder;
  width:5rem;
  height: 2rem;
  cursor: pointer;
}
.cardBuyNow:hover{
  background-color: purple;
  width:5.5rem;
  height: 2.5rem;
  transition: 0.2s;
  cursor: pointer;
}
.signupSection
{
  display:flex;
  justify-content: center;
  height: 20rem;
  width:20rem;
  margin: 2rem auto;
  transition: 1s;
}
.signupSection .sec1{
  background-color: rgb(221, 130, 221);
  padding: 2rem;
  border-radius: 5rem 0rem 0rem 5rem;
}
.signupSection .sec2{
  background-color:blue;
   padding: 5rem 3rem;
   color: white;
   justify-content: center;
   border-radius: 0rem 5em 5rem 0rem;
   line-height: 1.5rem;
}
.sec3{
  background-color: rgb(221, 130, 221);
  padding: 2rem;
  padding: 5rem 3rem;
  border-radius: 5rem 0em 0rem 5rem;
  line-height: 1.5rem;
}

.sec4{
  background-color:blue;
   padding: 2rem;
   color: white;
   justify-content: center;
  border-radius: 0rem 5rem 5rem 0rem;
  padding: 5rem 3rem;
  line-height: 1.5rem;
}
@media screen and (max-width:600px) {
  .signupSection, .loginSection
{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 10rem;
  width:10rem;
  margin: 0.5rem auto;
  font-size: xx-small;
  transition: 1s;
}
.signupSection .sec1,.signupSection .sec2,.sec3,.sec4{
  padding: 1rem;
  border-radius: 0rem 0em 0rem 0rem;
}
.cardList1{
  height: 15rem;
  width: 20rem;
  margin: 1rem;
  padding: 1rem;
  background-color:cadetblue;
  text-align: center;
  line-height: 1rem;
  overflow: hidden;
  cursor: pointer;
  font-size: small;
}
.cardList1 img{
  height: 5rem;
  width: 5rem;
  cursor: pointer;
}
}
